include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/questionnaire *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/questionnaire/migration *.ini *.py *.mako
