{% extends "page.html" %}
{% import 'macros/form.html' as form %}
  
  {% block subtitle %}{{ _('Add Question Options') }}{% endblock %}

  {% block breadcrumb_content %}
  <li class="active">{% link_for _('Add Question Options'), named_route='questionnaire.add_question_option' %}</li>
  {% endblock %}

  {% block secondary%}
  {% endblock %}
  
{% block primary %}
<form id="question_add_form" method="post">
    {{ form.input(vars_option.name, label=vars_option.name, value="") }}
      <button type='submit', class ='btn btn-primary', icon='plus-square' href="{{ h.url_for('questionnaire.add_question_option') }}">Add question option</button>
    {% link_for _('Add another question'), named_route='questionnaire.add_questions', class_='btn btn-primary'%}
    </div>
</form>
{% endblock %}