{% extends "user/dashboard.html" %}
{% import 'macros/form.html' as form %}
  
  {% block subtitle %}{{ _('Answers') }}{% endblock %}

  {% block breadcrumb_content %}
  <li class="active">{% link_for _('Answers'), named_route='questionnaire.answers' %}</li>
  {% endblock %}

  {% block secondary%}
  {% endblock %}

{{ super() }}
{% block primary_content_inner %}
  <h2 style="margin-top:-1em;">Please answer the following questions</h2>

  <form id="answers_add_form" method="POST">
  

    <button type='submit', class ='btn btn-primary', icon='plus-square' href="{{ h.url_for('questionnaire.answers') }}">{{_('Submit')}}</button>
  </div>
</form>

  {% endblock %}
