{% extends "user/dashboard.html" %}
  
  {% block subtitle %}{{ _('Answers') }}{% endblock %}

  {% block breadcrumb_content %}
  <li class="active">{% link_for _('Answers'), named_route='questionnaire.answers' %}</li>
  {% endblock %}

  {% block secondary%}
  {% endblock %}

{{ super() }}
  {% block primary_content_inner %}
  <h2 style="margin-top:-1em;">Please answer the following questions</h2>
  <form id="answers_add_form" method="POST">
  
  {% for question in q_list %}
    
  <!--This section is for text questions-->
    <p style="margin-top:1.5em;"></p>
    {% if question.question_type=="Text Question" %}
        <label class="control-label" id="field-q{{ loop.index }}" name="q{{ loop.index }}">{{ question.question_text }}</label>
        <select id="answers" class="form-control" name="{{ question.question_text }}">
          {% for answer_option in answer_list %}          
            {% if question.id == answer_option.question_id %}
            <option value="{{ answer_option.answer_text }}" name="a{{ loop.index }}">{{answer_option.answer_text}}</option>
            {% endif %}      
          {% endfor %}
        </select> 
    {% endif %}
    <p style="margin-top:1.5em;"></p>
    <!--End of section for text questions-->
    
    <!--This section is for checkbox questions-->
    {% if question.question_type=="Checkbox Question" %}
      <label class="control-label" id="field-q{{ loop.index }}" name="q{{ loop.index }}">{{ question.question_text }}</label></br>
      {% set rowloop = loop %}
      {% for answer_option in answer_list %}
      {% set requred=answer_option.mandatory %}
        {{ answer_option.mandatory }}      
        {% if question.id == answer_option.question_id %}
        <input type="checkbox" name="00qu{{ rowloop.index }}-op{{ loop.index }}-{{ question.id }}" value="{{answer_option.answer_text}}">
        <label for="00qu{{ rowloop.index }}-op{{ loop.index }}-{{ question.id }}">{{answer_option.answer_text}}</label><br>
        {% endif %}      
      {% endfor %}
    {% endif %}

    <!--End of section for checkbox questions-->

  {% endfor %}
  
  <div style="margin-top: 1.5em;">
    <button type='submit', class ='btn btn-primary', icon='plus-square' href="{{ h.url_for('questionnaire.answers') }}">{{_('Submit')}}</button>
  </div>
</form>

  {% endblock %}
